{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}


  <h1>CATEGORIES</h1>

<div id="Caretories">
    {% for category in categories %}


<a id="categoryName" href="{{ path("category_show", { categoryName: category.name  }) }}"> {{ category.name }}</a>

    {% else %}
        Aucune série trouvée.
    {% endfor %}

<a href="{{ path('program_index') }}"><button id="Retour"> Accueil</button></a>
</div>
{% endblock %}