
<div class="formBtn">
{{ form_start(form) }}{{ form_widget(form) }}
    <div class="formulaires">
    <button class="save">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
</div>

