{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}



<div class="content">
    {% for program in programs %}

    <div id="TitreIMG">

       <a  href="{{ path("program_show", { id: program.id }) }}"><img id="IMG" src="{{program.poster}}" alt=""></a>
    <h2>{{ program.title }} </h2>


        <a  href="{{ path("program_show", { id: program.id }) }}"><button id="VoirFiche">Voir la fiche</button></a>
    </div>

    {% else %}
        Aucune série trouvée.

    {% endfor %}
</div>

{% endblock %}
