{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle saison</h1>


    <div class="formulaires">{{ include('season/_form.html.twig') }}</div>

     <a href="{{ path('season_index') }}"><button id="Retour">Retour</button></a>

{% endblock %}
