/* Les constantes */

#Retour{
    border: none;
    border-radius: 10px;
    background:none;
    height: 50px;
    width: 200px;
    margin-top:auto;
    margin-bottom:auto;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    color:#E5E5E5;
    box-shadow: 0 5px 10px 0 #E5E5E5;
    font-family: 'SPQR', sans-serif;
}

#Retour:hover{
    color:#EA5353;
    box-shadow: 0 5px 10px 0 #EA5353;
}

.save{
    border: none;
    border-radius: 5px;
    background:none;
    cursor: pointer;
    font-size: 15px;
    font-style: italic;
    color:#E5E5E5;
    box-shadow: 0 5px 10px 0 #E5E5E5;
    font-family: 'SPQR', sans-serif;
}

.save:hover{
    color:#EA5353;
    box-shadow: 0 5px 10px 0 #EA5353;
}

body{
    background:#2C2928;
    color:#E5E5E5;

}

header{
    border:#EA5353;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

header a{

    width: 32%
}

#UL{
    border-radius: 10px;
    border:none;
    background:none;
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    color:#E5E5E5;
    box-shadow: 0 5px 10px 0 #E5E5E5;
    font-family: 'Roboto Condensed', sans-serif;
}

#UL:hover{
    color:#EA5353;
    box-shadow: 0 5px 10px 0 #EA5353;
}

#WS{
    display: flex;
    color:#EA5353;
    font-size: 70px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 400px;
    font-family: 'Anton', sans-serif;

}

#S{
    margin-top: 25px;
    color:#EA5353;
}

a{
    text-decoration: none;
}


/* Page Index Program */

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    overflow-x: scroll;


}


#TitreIMG{
    display: flex;
    margin-top: 30px;
    flex-direction:column;
    align-items: center;
    scroll-behavior: smooth;

}

#IMG{
    height: 320px;
    width: 220px;
    border-radius: 10px;
    object-fit: cover;

}


#IMG:hover{

    box-shadow: 0 10px 30px 0 #E5E5E5;
    cursor: pointer;

}

h2{

    font-size: 15px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

#VoirFiche{

    border-radius: 10px;
    border: none;
    background:none;
    height: 30px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    color:#E5E5E5;
    box-shadow: 0 5px 10px 0 #E5E5E5;
    font-family: 'Roboto Condensed', sans-serif;
}

#VoirFiche:hover{
    color:#EA5353;
    box-shadow: 0 5px 10px 0 #EA5353;
}



/*Page Show Program*/



#IMGprog{
    justify-content: flex-start;
    height: 400px;
    width: 300px;
    margin-top:auto;
    border-radius: 10px;
    object-fit: cover;

}

/* Page Index Category */

h1{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#categorie{
    font-size: 20px;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;


}

#categoryName{
    text-decoration: none;
    color: #E5E5E5;
    font-size:20px;
    font-size: 20px;
    display:block;
    font-family: 'Roboto Condensed', sans-serif;



}

#categoryName:hover{
    color:#EA5353;
}


 /* Page Program/Sow */


.contenuSerie{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;

}

#resume{
    display:block;
}

p{
    font-size: 20px;
    font-family: 'SPQR', sans-serif;
    text-align:left;
}

/* page show season */

.seasons{
    list-style: none;
    color: #E5E5E5;
}

a{
    color: #E5E5E5;

}

.episodes{
    list-style: none;
}

.saisonNom{
    font-size: 30px;
}

/* Page Program/new*/

.formulaires{
    display: flex;
    justify-content: center;
    margin: auto;
}

.save{
    display: flex;
    justify-content: center;
    width: 80px;

}

/* Page season/
