{% extends "base.html.twig" %}

{% block body %}

   <h1>Ajouter une nouvelle série</h1>

     <div class="formulaires">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    </div>

    <button class="save" type="submit">ajouter</button>
    {{ form_end(form) }}


{% endblock %}